/* SAMPLE CSS FILE CONTENTS */
html {
  background-color: rgb(211,211,211);
  font-family: RalewayRegular, sans-serif;
}

body {
  font-size:18px;
  line-height:1.4em;
}

h1 {
  font-size:2.441em;
  line-height:1.2em;
  padding-bottom:.5em;
  color: #0078b8;
  margin:0;
  font-family:'RalewaySemiBold';
}

h2 {
  font-size:1.93em;
  line-height:1.2em;
  color: #0078b8;
  font-family:'RalewaySemiBold';
}

h3 {
  font-size:1.53em;
  line-height:1.3em;
  color: #0078b8;
  font-family:'RalewaySemiBold';
}

h4 {
  font-size:1.25em;
  line-height:1.3em;
  color: #0078b8;
  font-family:'RalewaySemiBold';
}

p {
  line-height:1.4em;
}

a {
  color:#00aa8f;
}

a:hover {
  cursor:pointer;
}

ol li {
  padding-bottom:1em;
  }

#core-outer-wrapper {
  background:#0078b8;
  color:#ffffff;
}

#site-branding {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
}

#logo {
  padding-top:0em;
  padding-bottom:0em;
  padding-left:2em;
}

#site-branding #logo {
  max-width:42%;
}

.site-name-slogan {
  padding-bottom:1.5em;
  padding-right:2em;
}

#site-branding .site-slogan {
  color:#4f4f4f;
  font-size: 1.25em;
  font-variant:normal;
}

@media (max-width: 1023px) and (min-width: 768px) {
  #site-branding {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
  }

  #site-branding .site-slogan {
    color:#4f4f4f;
    font-size: 1.0em;
    font-variant:normal;}
 }
@media (max-width: 767px) and (min-width: 480px) {
  #site-branding {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  #site-branding .site-slogan {
    color:#4f4f4f;
    font-size: 1.0em;
    font-variant:normal;
    }

  #site-branding #logo {
    max-width:100%;
  }
}

@media (max-width: 479px) {
  #site-branding {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  #site-branding .site-slogan {
    color:#4f4f4f;
    font-size: 1.0em;
    font-variant:normal;
  }

  #site-branding #logo {
    max-width:100%;
  }
}

.header-layout .region--header {
  background:#ffffff;
}

/** Superfish customizations **/
ul.sf-menu.sf-style-blue li,
ul.sf-menu.sf-style-blue.sf-navbar {
  background: #0078b8;
}

#superfish-main {
  line-height:inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width:100%;
}

#superfish-main a,
#superfish-main-accordion a {
  color:#ffffff;
}

ul.sf-menu.sf-style-blue li:hover,
ul.sf-menu.sf-style-blue li.sfHover,
ul.sf-menu.sf-style-blue a:focus,
ul.sf-menu.sf-style-blue a:hover,
ul.sf-menu.sf-style-blue span.nolink:hover {
  background:#222944;
}

ul.sf-menu.sf-style-blue {
  margin-bottom:0;
  }

/** #superfish-main li:hover {background:#222944;} **/

#superfish-main a:hover {
  text-decoration:none;
}

#superfish-main .menuparent ul {
  background:#0078b8;
}

ul.sf-menu.sf-style-blue li li,
ul.sf-menu.sf-style-blue.sf-navbar > li > ul {
  background:#0078b8;
}

ul.sf-menu li:hover > ul,
ul.sf-menu li.sfHover > ul {
  top:2.8em;
}

.nv {
  display: inline-block;
  font-family: 'font_awesome';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.nv:before {
  content: "\f0c9";
}

.main-layout {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .main-layout {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }
 }
@media (max-width: 767px) and (min-width: 480px) {
  .main-layout {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }
}
@media (max-width: 479px) {
  .main-layout {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }
}
.main-layout .region--sidebar-first {
  background:#ffffff;
  padding:1em;
}

.region-sidebar-first h2 {
  font-size:1.53em;
}

/** Blocks **/
.block__content h1 {
  background-color: #ffffff;
  margin-bottom: -1em;
  padding: 1em 2em 1em 2em;
  text-align: center;
  font-size: 1.5em;
}

.block-content--type-by-the-numbers {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  width:100%;
  flex-wrap: wrap;
  margin:0 auto 0;
}

.block-content--type-by-the-numbers-2-column {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  width:80%;
  flex-wrap: wrap;
  margin:0 auto 0;
}

.block-content--type-by-the-numbers,
.block-content--type-by-the-numbers-2-column {
  background:#ffffff;
  text-align: center;
}

.block-content--type-by-the-numbers h2,
.block-content--type-by-the-numbers-2-column h2 {
  background: white;
  padding-top: .3em;
  padding-bottom: .3em;
  margin: 0;
}

.block-content--type-by-the-numbers .group-header,
.block-content--type-by-the-numbers-2-column .group-header {
  width: 100%;
}

.block-content--type-by-the-numbers .group-left,
.block-content--type-by-the-numbers .group-middle,
.block-content--type-by-the-numbers .group-right {
  position:relative;
  float:none;
  width:33.333%;
  text-align:left;
}

.block-content--type-by-the-numbers-2-column .group-left,
.block-content--type-by-the-numbers-2-column .group-right {
  position:relative;
  float:none;
  width:50%;
  text-align:left;
}


}

.field--name-field-btn-country-bg-image,
.field--name-field-btn-treatment-bg-image,
.field--name-field-btn-people-bg-image {
  max-width:500px;
}

.block-content--type-by-the-numbers .field-name-field-btn-country-number,
.block-content--type-by-the-numbers .field--name-field-btn-treatments-number,
.block-content--type-by-the-numbers .field--name-field-btn-people-number {
  position: absolute;
  top: 60px;
  left: -25px;
  font-size: 6em;
  color: #ffffff;
  padding:0 0.5em 0;
}

.block-content--type-by-the-numbers-2-column .field--name-field-country-number,
.block-content--type-by-the-numbers-2-column .field--name-field-treatments-number {
  position: absolute;
  top: 85px;
  left: -25px;
  font-size: 6em;
  color: #ffffff;
  padding:0 0.5em 0;
}

.block-content--type-by-the-numbers .field--name-field-btn-country-text,
.block-content--type-by-the-numbers .field--name-field-btn-treatments-text,
.block-content--type-by-the-numbers .field--name-field-btn-people-text {
  position: absolute;
  top: 145px;
  left: 30px;
  padding:0 0.5em 0;
}

.block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text,
.block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text {
  position: absolute;
  top: 160px;
  left: 30px;
  padding:0 0.5em 0;
}

.block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(1),
.block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(1),
.block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(1) {
  font-size: 1.5em;
  font-family: 'RalewaySemiBold';
  color: #ffffff;
  margin: 0;
}

.block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(1),
.block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(1) {
  font-size: 2.5em;
  line-height: 1.2;
  font-family: 'RalewaySemiBold';
  color: #ffffff;
  margin: 0;
}

.block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(2),
.block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(2),
.block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(2) {
  font-size: 1.1em;
  line-height: 1.2em;
  margin: 0;
}

.block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(2),
.block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(2) {
  font-size: 2.1em;
  line-height: 1.2em;
  margin: 0;
}

.block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(3),
.block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(3),
.block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(4) {
  font-size: 0.8em;
  margin: 0;
}

.block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(3),
.block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(3) {
  font-size: 1em;
  margin: 0;
}

.block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(3) {
  font-size:0.9em;
  margin: 0;
}

@media (max-width: 1219px) and (min-width: 1024px) {
  .block-content--type-by-the-numbers .field-name-field-btn-country-number,
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-number,
  .block-content--type-by-the-numbers .field--name-field-btn-people-number {
    position: absolute;
    top: 60px;
    left:-35px;
    font-size: 5em;
    color: #ffffff;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-country-number,
  .block-content--type-by-the-numbers-2-column .field--name-field-treatments-number {
    position: absolute;
    top: 75px;
    left:-25px;
    font-size: 5em;
    color: #ffffff;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text,
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text,
  .block-content--type-by-the-numbers .field--name-field-btn-people-text {
    position: absolute;
    top: 135px;
    left: 5px;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text,
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text {
    position: absolute;
    top: 135px;
    left: 10px;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(1),
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(1),
  .block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(1) {
    font-size: 1.5em;
    font-family: 'RalewaySemiBold';
    color: #ffffff;
    margin: 0;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(1),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(1) {
    font-size: 2.5em;
    line-height: 1.2;
    font-family: 'RalewaySemiBold';
    color: #ffffff;
    margin: 0;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(2),
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(2),
  .block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(2) {
    font-size: 1.25em;
    font-family: 'RalewaySemiBold';
    line-height: 1.2em;
    margin: 0;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(2),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(2) {
    font-size: 1.75em;
    font-family: 'RalewaySemiBold';
    line-height: 1.2em;
    margin: 0;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(3),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(3),
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(3),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(3),
  .block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(4) {
    font-size: 1.0em;
    margin: 0;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(3),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(3) {
    font-size: 1.25em;
    margin: 0;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .block-content--type-by-the-numbers .field-name-field-btn-country-number,
  .block-content--type-by-the-numbers-2-column .field--name-field-country-number,
  .block-content--type-by-the-numbers-2-column .field--name-field-treatments-number,
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-number,
  .block-content--type-by-the-numbers .field--name-field-btn-people-number {
    position: absolute;
    top: 40px;
    left:-20px;
    font-size: 4em;
    color: #ffffff;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-country-number,
  .block-content--type-by-the-numbers-2-column .field--name-field-treatments-number {
    position: absolute;
    top: 70px;
    left:-10px;
    font-size: 4em;
    color: #ffffff;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text,
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text,
  .block-content--type-by-the-numbers .field--name-field-btn-people-text {
    position: absolute;
    top: 90px;
    left: 5px;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text,
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text {
    position: absolute;
    top: 120px;
    left: 20px;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(1),
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(1),
  .block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(1) {
    font-size: 1.0em;
    font-family: 'RalewaySemiBold';
    color: #ffffff;
    margin: 0;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(1),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(1) {
    font-size: 1.8em;
    font-family: 'RalewaySemiBold';
    color: #ffffff;
    margin: 0;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(2),
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(2),
  .block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(2) {
    font-size: 0.8em;
    font-family: 'RalewaySemiBold';
    line-height: 1.2em;
    margin: 0;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(2),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(2) {
    font-size: 1.3em;
    font-family: 'RalewaySemiBold';
    line-height: 1.2em;
    margin: 0;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(3),
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(3),
  .block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(4) {
    font-size: 0.8em;
    margin: 0;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(3),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(3) {
    font-size: 1.0em;
    margin: 0;
  }
}

@media (max-width: 767px) and (min-width: 480px) {
  .block-content--type-by-the-numbers,
  .block-content--type-by-the-numbers-2-column {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    width:100%;
  }

.block-content--type-by-the-numbers .group-left,
.block-content--type-by-the-numbers .group-middle,
.block-content--type-by-the-numbers .group-right {
  position:relative;
  float:none;
  width:100%;
  text-align:left;
}

.block-content--type-by-the-numbers-2-column .group-left,
.block-content--type-by-the-numbers-2-column .group-right {
  width:100%;
}

  .block-content--type-by-the-numbers .field-name-field-btn-country-number,
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-number,
  .block-content--type-by-the-numbers .field--name-field-btn-people-number {
    top: 100px;
    left:-20px;
    font-size: 8em;
    color: #ffffff;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-country-number,
  .block-content--type-by-the-numbers-2-column .field--name-field-treatments-number {
    top: 130px;
    left:-10px;
    font-size: 8em;
    color: #ffffff;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text,
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text,
  .block-content--type-by-the-numbers .field--name-field-btn-people-text {
    position: absolute;
    top: 135px;
    left: 25px;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text,
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text {
    position: absolute;
    top: 200px;
    left: 50px;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(1),
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(1),
  .block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(1) {
    font-size: 2.5em;
    font-family: 'RalewaySemiBold';
    color: #ffffff;
    margin: 0;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(1),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(1) {
    font-size: 2.5em;
    font-family: 'RalewaySemiBold';
    color: #ffffff;
    margin: 0;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(2),
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(2),
  .block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(2) {
    font-size: 1.5em;
    font-family: 'RalewaySemiBold';
    line-height: 1.2em;
    margin: 0;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(2),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(2) {
    font-size: 1.8em;
    font-family: 'RalewaySemiBold';
    line-height: 1.2em;
    margin: 0;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(3),
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(3),
  .block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(4) {
    font-size: 0.8em;
    margin: 0;
    }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(3),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(3) {
    font-size: 1.2em;
    margin: 0;
    }
}
@media (max-width: 479px) {
  .block-content--type-by-the-numbers,
  .block-content--type-by-the-numbers-2-column {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    width:100%;
  }

.block-content--type-by-the-numbers .group-left,
.block-content--type-by-the-numbers .group-middle,
.block-content--type-by-the-numbers .group-right {
  position:relative;
  float:none;
  width:100%;
  text-align:left;
}

.block-content--type-by-the-numbers-2-column .group-left,
.block-content--type-by-the-numbers-2-column .group-right {
  width:100%;
}

  .block-content--type-by-the-numbers .field-name-field-btn-country-number,
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-number,
  .block-content--type-by-the-numbers .field--name-field-btn-people-number {
    position: absolute;
    top: 70px;
    left:-20px;
    font-size: 7em;
    color: #ffffff;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-country-number,
  .block-content--type-by-the-numbers-2-column .field--name-field-treatments-number {
    position: absolute;
    top: 60px;
    left:-20px;
    font-size: 5em;
    color: #ffffff;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text,
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text,
  .block-content--type-by-the-numbers .field--name-field-btn-people-text {
    position: absolute;
    top: 150px;
    left: 40px;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text,
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text {
    position: absolute;
    top: 130px;
    left: 20px;
    font-size: 0.8em;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(1),
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(1),
  .block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(1) {
    font-size: 2.5em;
    font-family: 'RalewaySemiBold';
    color: #ffffff;
    margin: 0;
    line-height:1.1;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(1),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(1) {
    font-size: 2.5em;
    font-family: 'RalewaySemiBold';
    color: #ffffff;
    margin: 0;
    line-height:1.1;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(2),
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(2),
  .block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(2) {
    font-size: 1.5em;
    font-family: 'RalewaySemiBold';
    line-height: 1.2em;
    margin: 0;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(2),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(2) {
    font-size: 2.5em;
    font-family: 'RalewaySemiBold';
    line-height: 1.2em;
    margin: 0;
  }

  .block-content--type-by-the-numbers .field--name-field-btn-country-text p:nth-child(3),
  .block-content--type-by-the-numbers .field--name-field-btn-treatments-text p:nth-child(3),
  .block-content--type-by-the-numbers .field--name-field-btn-people-text p:nth-child(3) {
    font-size: 1.0em;
    margin: 0;
  }

  .block-content--type-by-the-numbers-2-column .field--name-field-btn-country-text p:nth-child(3),
  .block-content--type-by-the-numbers-2-column .field--name-field-btn-treatments-text p:nth-child(3) {
    font-size: 1.5em;
    margin: 0;
  }
}

.block-content--type-by-the-numbers .field--name-field-btn-treatments-text,
.block-content--type-by-the-numbers-2-column  .field--name-field-btn-treatments-text {
  color:#ffffff;
}

/** Boxout **/
.boxout p {width: 90%;margin: 1em auto 1em;text-align: center;border-bottom:1px solid #D3D3D3;padding-bottom:1em;}

.boxout img {
  width:125px;
}

.boxout.default img:nth-of-type(3) {
  width:200px;
}

.boxout h3 {
  text-align:center;
  margin:0 0 1em 0;
}

.boxout.default {
  border-top: 0px solid;
  background:transparent;
  border-left:2px solid #D3D3D3;
}

@media (max-width: 479px) {
  .boxout.default {
    width: 80%;
  }
}


/** Three Pillars block **/
.block-content--type-three-pillars-of-iti {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}

.block-content--type-three-pillars-of-iti .group-header {
  width:100%;
  text-align:center;
  font-size:1.93em;
  line-height:1.2em;
  padding-bottom:.5em;
  color: #0078b8;
  font-family:'RalewaySemiBold';
  margin:0;
}

.block-content--type-three-pillars-of-iti .group-left,
.block-content--type-three-pillars-of-iti .group-middle,
.block-content--type-three-pillars-of-iti .group-right {
  width:30%;
  float:none;
  position:relative;
}

.block-content--type-three-pillars-of-iti .field--name-field-pillar-1-text,
.block-content--type-three-pillars-of-iti .field--name-field-pillar-2-text,
.block-content--type-three-pillars-of-iti .field--name-field-pillar-3-text {
  position: absolute;
  top: 20%;
  color: #ffffff;
  text-align: center;
  width: 100%;
  font-family: 'RalewaySemiBold';
  font-size: 1.6em;
  line-height:1.3em;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .block-content--type-three-pillars-of-iti .field--name-field-pillar-1-text,
  .block-content--type-three-pillars-of-iti .field--name-field-pillar-2-text,
  .block-content--type-three-pillars-of-iti .field--name-field-pillar-3-text {
    font-size: 1.1em;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .block-content--type-three-pillars-of-iti {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column
  }

  .block-content--type-three-pillars-of-iti .group-left,
  .block-content--type-three-pillars-of-iti .group-middle,
  .block-content--type-three-pillars-of-iti .group-right {
    width:75%;
    float:none;
    position:relative;
    margin:0 auto 0;
  }

  .block-content--type-three-pillars-of-iti .field--name-field-pillar-1-text,
  .block-content--type-three-pillars-of-iti .field--name-field-pillar-2-text,
  .block-content--type-three-pillars-of-iti .field--name-field-pillar-3-text {
    font-size: 1.7em
  ;}
  }
@media (max-width: 479px) {
  .block-content--type-three-pillars-of-iti {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column
  }

  .block-content--type-three-pillars-of-iti .group-left,
  .block-content--type-three-pillars-of-iti .group-middle,
  .block-content--type-three-pillars-of-iti .group-right {
    width:75%;
    float:none;
    position:relative;
    margin:0 auto 0;
  }

    .block-content--type-three-pillars-of-iti .field--name-field-pillar-1-text,
    .block-content--type-three-pillars-of-iti .field--name-field-pillar-2-text,
    .block-content--type-three-pillars-of-iti .field--name-field-pillar-3-text {
      font-size: 1.2em;
    }
}


/** Paragraphs **/
.paragraph {
  background-color: #ffffff;
  margin-bottom:1em;
}

.paragraph .field-name-field-section-header,
.paragraph--type--gallery .field--name-name,
.paragraph--type-views .view-header,
.paragraph--type-_-column-feature .group-header h2 {
  text-align:center;
  }

.paragraph .node {
  margin-bottom:0;
}

.paragraph .field {
  margin-bottom:0;
  }

.paragraph figure {
  margin:0;
}

.paragraph--type--_-column-feature .group-left {
  float:left;
  width:49.5%;
}

.paragraph--type--_-column-feature .group-right {
  float:right;
  width:49.5%;
}

.paragraph--type-_-column-feature .group-left,
.paragraph--type-_-column-feature .group-middle,
.paragraph--type-_-column-feature .group-right {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  text-align:center;
}

.paragraph--type-_-column-feature .field--name-field-column-1-image,
.paragraph--type-_-column-feature .field--name-field-column-2-image,
.paragraph--type-_-column-feature .field--name-field-column-3-image {
  margin:0 auto 1em;
}

.paragraph--type-_-column-feature .group-header {
  text-align:center;
}

.paragraph--type--blocks, .paragraph--type-views,
.paragraph--type-section-header-with-text,
.paragraph--type--text,
.paragraph--type-section-header,
.paragraph--type--gallery {
  padding: .5em 2em 1.5em 2em;
}

@media (max-width: 479px) {
  .paragraph--type--blocks, .paragraph--type-views,
  .paragraph--type-section-header-with-text,
  .paragraph--type--text,
  .paragraph--type-section-header,
  .paragraph--type--gallery {
    padding: 0;
  }
}


.paragraph--type-section-header-with-text h2,
.paragraph--type-section-header h2 {
  text-align:center;
}

.paragraph--type-section-header {
  margin-bottom:-1em;
}

.paragraph--type-views .view-footer {
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  background: #00aa8f;
  font-family: 'RalewaySemiBold';
  width:25%;
  text-align:center;
  margin:1em auto 0;
}

@media (max-width: 767px) {
  .paragraph--type-views .view-footer {
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    background: #00aa8f;
    font-family: 'RalewaySemiBold';
    width:50%;
    text-align:center;
    margin:1em auto 0;
  }
}

.paragraph--type-views .view-footer a {
  color:#ffffff;
}

.paragraph--type-views .view-articles img {
  box-shadow: 5px 5px 5px #cccccc;
}

.paragraph--type-views .view-articles .field-name-field-teaser-media {
  padding-bottom: 20px;
}

.paragraph--type-views .view-reference:nth-of-type(1) {
  text-align:center;
}

.paragraph--type--page-header {
  background:transparent;
}


/** Feature banner **/
.field-paragraph-field-feature-banner .node--type-feature-banner {
  padding-top:3em;
  padding-bottom:2em;
}

.field-paragraph-field-feature-banner .node--type-feature-banner .field-name-field-image {
  padding-left:6em;
  padding-right:6em;
}

.field-paragraph-field-feature-banner .node--type-feature-banner .field-node--field-feature-text {
  padding-left: 4em;
  padding-right: 4em;
  text-align: center;
  font-size: 1.5em;
  color:rgb(39,141,193);
}

/** ITIs Mission **/
div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal .group-header {
  width:100%;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1
}

div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal .group-left,
div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal .group-middle,
div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal .group-right {
  float:none;
  text-align: center;
  margin:0 auto 0;
}

div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal .group-left img,
div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal .group-middle img,
div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal .group-right img {
  margin:0 auto 0;
}

div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal .group-left {
  -webkit-box-ordinal-group:3;
      -ms-flex-order:2;
          order:2;
}

div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal .group-middle {
  -webkit-box-ordinal-group:4;
      -ms-flex-order:3;
          order:3;
}

div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal .group-right {
  -webkit-box-ordinal-group:5;
      -ms-flex-order:4;
          order:4;
}

@media (max-width: 1023px) and (min-width: 768px) {
  div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }
}

@media (max-width: 767px) and (min-width: 480px) {
  div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }
}

@media (max-width: 479px) {
  div.paragraph.paragraph--type-_-column-feature.paragraph--view-mode-default.ds-3col-stacked-equal {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }
}

/** End ITIs Mission **/

/** Zithromax counter **/
.block-content--type-zithromax-counter {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block-content--type-zithromax-counter .group-header {
  width:100%;
  -webkit-box-ordinal-group:2;
      -ms-flex-order:1;
          order:1;
}

.block-content--type-zithromax-counter .group-header h2 {
  text-align:center;
}

.block-content--type-zithromax-counter .group-left,
.block-content--type-zithromax-counter .group-middle,
.block-content--type-zithromax-counter .group-right {
  width:initial;
  float:none;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  text-align: center;
}

.block-content--type-zithromax-counter .group-left {
  -webkit-box-ordinal-group:3;
      -ms-flex-order:2;
          order:2;
}

.block-content--type-zithromax-counter .group-middle {
  -webkit-box-ordinal-group:4;
      -ms-flex-order:3;
          order:3;
}

.block-content--type-zithromax-counter .group-right {
  -webkit-box-ordinal-group:5;
      -ms-flex-order:4;
          order:4;
}

.block-content--type-zithromax-counter .field--name-field-image {
  max-width: 117px;
}

.field-block-content--field-cumulative-text,
.field-block-content--field-ytd-text,
.field-block-content--field-targeted-text {
  font-family: 'RalewaySemiBold';
}

.counter {color:rgb(90,103,113);font-size:2.0em;font-family: 'RalewaySemiBold';padding-top:0.4em;}
@media (max-width: 1023px) and (min-width: 768px) {
  .block-content--type-zithromax-counter {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .block-content--type-zithromax-counter .group-left,
  .block-content--type-zithromax-counter .group-middle,
  .block-content--type-zithromax-counter .group-right {
    padding-bottom:2em;
  }
}

@media (max-width: 767px) and (min-width: 480px) {
  .block-content--type-zithromax-counter {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .block-content--type-zithromax-counter .group-left,
  .block-content--type-zithromax-counter .group-middle,
  .block-content--type-zithromax-counter .group-right {
    padding-bottom:2em;
  }
}

@media (max-width: 479px) {
  .block-content--type-zithromax-counter {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .block-content--type-zithromax-counter .group-left,
  .block-content--type-zithromax-counter .group-middle,
  .block-content--type-zithromax-counter .group-right {
    padding-bottom:2em;
  }
}

/** End Zithromax counter **/

/** Recent articles **/
.path-frontpage .view-resources .views-row {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  float:none;
  width:100%;
}

.path-frontpage .view-resources .views-view-grid .views-col {
  float:none;
  width:33%;
  padding:0 2em 0;
}

.path-frontpage .view-resources .views-view-grid .views-col img {
  margin:0 auto 0;
}

@media (max-width: 767px) {
  .path-frontpage .view-resources .views-row {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    float:none;
    width:100%;
  }

  .path-frontpage .view-resources .views-view-grid .views-col {
    float:none;
    width:95%;
    padding:0 1em 1em;
  }
}


/** Footer **/
#postscript-outer-wrapper {
  background-color: #565656;
  color:#ffffff;
  padding-top:2em;
}

@media (max-width: 767px) {
  #postscript-outer-wrapper {
    padding-left: 2em;
  }
}

#postscript-layout a {
  color:#ffffff;
}

#postscript-layout p {
  font-size:0.9em;
}

#block-iti-omega-logocopyright p {
  font-size:0.7em;
}

#postscript-layout h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size:1em;
  font-family:'RalewayRegular';
}

#block-iti-omega-about h2::after,
#block-iti-omega-websiteresources h2::after,
#block-iti-omega-contact h2::after,
#block-iti-omega-social h2::after {
  content: "";
  display: block;
  border-bottom: 3px #0077c5 solid;
  width: 118px;
  margin-top: 15px;
}

#block-logocopyright,
#block-iti-omega-logocopyright {
  text-align: center;
  width:90%;
}


/** Social media icons **/
#block-iti-omega-social a {
  color:#ffffff;
}

#block-iti-omega-social ic {
  width: 25px;
  font-size: 16px;
}

#block-iti-omega-social ul {
  list-style:none;
  padding:0;
}

#block-iti-omega-social li {
  margin: 0 0 5px;
}

.fb, .tw, .li, .yt, .ig {
  display: inline-block;
  font-family: 'font_awesome';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fb:before {
  content: "\f09a";
}

.tw:before {
  content: "\f099";
}

.li:before {
  content: "\f0e1";
}

.yt:before {
  content: "\f16a";
}

.ig:before {
  content: "\f16d";	
}

/** Feature banner **/
.field--name-field-feature-banner .node--type-feature-banner {
  padding-top:2em;
}

.field--name-field-feature-banner .node--type-feature-banner .field-name-field-image {
  padding-left:6em;
  padding-right:6em;
  text-align:center;
}

.field--name-field-feature-banner .node--type-feature-banner .field--name-field-feature-text {
  padding-left: 4em;
  padding-right: 4em;
  text-align: center;
  font-size: 1.5em;
  color:rgb(39,141,193);
}

.feature-banner-image .view-mode-home-page-promo {
  position:relative;
}

.feature-banner-image .view-mode-home-page-promo img {
  height:339px;
}

.feature-banner-image .view-mode-home-page-promo .field--name-field-source {
  position:absolute;
  width:100%;
  bottom:7px;
  color:#ffffff;
  background-color:rgba(0, 0, 0, 0.5);
  height:15%;
  padding-top:10px;
}

.paragraph.paragraph--type-_-column-feature.ds-2col {
  background:transparent;
}

.paragraph.paragraph--type-_-column-feature.ds-3col-stacked-equal {
  padding: 2em 2em 1.5em 2em;
}

.paragraph--type-_-column-feature {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
}

@media (max-width: 1023px) {
  .paragraph--type-_-column-feature {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .paragraph--type-_-column-feature .group-left,
  .paragraph--type-_-column-feature .group-right {
    width:100%;
  }
}

/** Available Jobs - Home page  **/
.field-paragraph--field-views .view-jobs .views-field-created {
  font-family: 'RalewaySemiBold';
}

.field-paragraph--field-views .view-jobs .views-field-title {
  font-family: 'RalewaySemiBold';
  font-size:1.5em;
}

/** Jobs content type **/
.field-node--field-job-application-text {
  margin-top: 1.5em;
}

.node--type-job .field-name-node-post-date {
  font-family: 'RalewaySemiBold';
}

/** Views **/

/**.views-element-container {padding: 2em 2em 1.5em 2em;background-color: #ffffff;margin-bottom:1em;}**/
.view-staff ul {
  margin:0;
  padding:0;
}

.view-staff .view-content .item-list:nth-child(2) h3 {
  display:none;
}

.view-staff h3 {
  font-size:2em;
  color: #0078b8;
  font-family: 'RalewaySemiBold';
  margin:0 0 0.5em 0;
  padding-top:1em;
}

.view-staff a,
#block-views-block-staff-ethiopia-block-1 a,
#block-views-block-staff-iti-africa-block-1 a {
  font-family:'RalewayBold';
}

#block-views-block-staff-ethiopia-block-1,
#block-views-block-staff-iti-africa-block-1,
#block-whowearefooter {
  padding: 2em 2em 1.5em 2em;
  background-color: #ffffff;
  margin-bottom:1em;
}

.view-trachoma-expert-committee {
  background:#ffffff;
  padding:2em 2em 1.5em 2em;
}

.view-trachoma-expert-committee a {
  font-family:'RalewayBold';
}

#block-views-block-staff-blog-list-block-1 {
  background:#ffffff;
}

#block-views-block-partner-link-block-1 {
  background:#ffffff;
  padding:2em 2em 1.5em 2em;
}

#block-views-block-partner-link-block-1 .views-view-grid .views-row  {
  padding-bottom:1em;
}

#block-views-block-partner-link-block-1 .view-header p:nth-child(1) {
  font-size:1.53em;
  color: #0078b8;
  font-family:'RalewaySemiBold';
  text-align:center;
  margin:0;
}

#block-views-block-partner-link-block-1 .view-header p:nth-child(2) {
  font-size:1.0em !important;
  line-height:1.4em;
  color: #000000;
  font-family:'RalewayRegular';
  text-align:left;
}

#block-views-block-partner-link-block-1 .views-view-grid {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#block-views-block-partner-link-block-1 .views-view-grid .views-col {
  width: 25%;
  padding: 0 1em 0 1em;
}

.viewsreference-title,
#block-views-block-staff-ethiopia-block-1 h2,
#block-views-block-staff-iti-africa-block-1 h2 {
  font-size:1.93em;
  line-height:1.2em;
  padding-bottom:.5em;
  color: #0078b8;
  margin:0;
  font-family:'RalewaySemiBold';
  text-align:center;
}

.view-jobs .view-header {
  font-size:1.93em;
  line-height: 1.2em;
  padding-bottom: .5em;
  color: #0078b8;
  margin:0;
  font-family:'RalewaySemiBold';
}

/** News and Resources **/
.path-news-and-resources .region--content {
  background:#ffffff;
  padding:2em 2em 1.5em 2em;
}

.path-news-and-resources .view-resources .views-col {
  width:23% !important;
  margin-bottom:1em;
  padding:0.5em;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.path-news-and-resources .view-resources .views-view-grid .views-row {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:flex-start;
  -webkit-box-align:stretch;
      -ms-flex-align:stretch;
          align-items:stretch;
}

.path-news-and-resources .view-resources .views-field-title {
  font-size:1.0em;
  font-family:'RalewaySemiBold';
}

@media (max-width: 1023px) and (min-width: 768px) {
  .path-news-and-resources .view-resources .views-view-grid .views-row {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
  }

  .path-news-and-resources .view-resources .views-col {
    width:50% !important;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .path-news-and-resources .view-resources .views-view-grid .views-row {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
  }

  .path-news-and-resources .view-resources .views-col {
    width:50% !important;
  }
}
@media (max-width: 479px) {
  .path-news-and-resources .view-resources .views-view-grid .views-row {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
  }

  .path-news-and-resources .view-resources .views-col {
    width:100% !important;
  }
}


/** Slick slideshow **/
.paragraph--type--gallery .field--name-name {
  text-align:center;
  font-size:1.93em;
  line-height:1.2em;
  padding-bottom:.5em;
  color: #0078b8;
  font-family: 'RalewaySemiBold';
}

.slide--caption--top .slide__caption,
.slide--caption--bottom .slide__caption {
  width:50%;
  margin:0 auto 0;
}

.node--type-article .slide--caption--top .slide__caption,
.slide--caption--bottom .slide__caption {
  width:100%;
  margin:1em auto 0;
}

.node--type-article .slide__content,
.grid__content {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
}

.slick-arrow::before {
  color:#0078b8;
  font-size:3rem;
}

.slide__media {
  width:100%;
}

.slide__content,
.grid__content {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .slide__content,
  .grid__content {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .slide--caption--top .slide__caption,
  .slide--caption--bottom .slide__caption {
    width:100%;
    margin:1em auto 0;
  }

  .slide__media {
    width:100%;
    margin:0 auto 0;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .slide__content,
  .grid__content {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .slide--caption--top .slide__caption,
  .slide--caption--bottom .slide__caption {
    width:100%;
    margin:1em auto 0;
  }

  .slide__media {
    width:100%;
    margin:0 auto 0;
  }
}
@media (max-width: 479px) {
  .slide__content,
  .grid__content {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .slide--caption--top .slide__caption,
  .slide--caption--bottom .slide__caption {
    width:100%;
    margin:1em auto 0;
  }

  .slide__media {
    width:100%;
    margin:0 auto 0;
  }
}

.slide--caption--top .slide__caption,
.slide--caption--bottom .slide__caption {
  position:relative;
}

.slick--main .slide__caption {
  min-height:100%;
  left:50%;
}

.slick__slide .field--name-field-image-caption {
  padding-left:1em;
}

.slide__caption {
  padding:0;
}

.slide__caption h4 {
  margin:0;
}

.unslick .slick__slide,
.slick-initialized .slick__slide {
  padding:0 5em 0 5em;
}

.slick-wrapper {
  margin-bottom:1em;
}

.slick__slide article {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
}

.slick-dots__thumbnail img {
  height:auto !important;
}

.slick .slick-dots--thumbnail-grid li:hover img,
.slick .slick-dots--thumbnail-grid li.slick-active img {
  border-color:#0078b8;
}

.slick .slick-dots--thumbnail-grid img {
  border:4px solid transparent;
}

/** Infographics **/

.paragraph--type--infographic {
  padding:2em 2em 1.5em 2em;
}

.paragraph--type--infographic .field--name-field-section-header {
  text-align:center;
  font-size:1.93em;
  line-height:1.2em;
  padding-bottom:.5em;
  color: #0078b8;
  font-family: 'RalewaySemiBold';
}

.paragraph--type--infographic .media-infographic {
  width:80%;
  margin:0 auto 0;
}

article.media.media-image.view-mode-infographic {
  position:relative;
}

.media-infographic .field__items {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
}

article.media.media-image.view-mode-infographic .field--name-field-image-caption {
  position:absolute;
  top:50%;
  text-align:center;
  padding:0.4em;
}

article.media.media-image.view-mode-infographic .field--name-field-image-caption p:nth-child(1) {
  font-size:1.3em;
  font-family:'RalewaySemiBold';
}

article.media.media-image.view-mode-infographic .field--name-field-image-caption p:nth-child(2) {
  font-size:1.0em;
}

@media (max-width: 1219px) and (min-width: 1024px) {
  .media-infographic .field__items {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
  }

  .paragraph--type--infographic .media-infographic {
    width:70%;
    margin:0 auto 0;
  }

  article.media.media-image.view-mode-infographic .field--name-field-image-caption p:nth-child(1) {
    font-size:0.9em;
    font-family:'RalewaySemiBold';
  }

  article.media.media-image.view-mode-infographic .field--name-field-image-caption p:nth-child(2) {
    font-size:0.8em;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .media-infographic .field__items {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
  }

  .paragraph--type--infographic .media-infographic {
    width:80%;
    margin:0 auto 0;
  }

  article.media.media-image.view-mode-infographic .field--name-field-image-caption p:nth-child(1) {
    font-size:0.8em;
    font-family:'RalewaySemiBold';
  }

  article.media.media-image.view-mode-infographic .field--name-field-image-caption p:nth-child(2) {
    font-size:0.7em;
  }
}

@media (max-width: 767px) and (min-width: 480px) {
  .media-infographic .field__items {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    }

  .paragraph--type--infographic .media-infographic {
    width:50%;
    margin:0 auto 0;
  }

  article.media.media-image.view-mode-infographic .field--name-field-image-caption p:nth-child(1) {
    font-size:1.2em;
    font-family:'RalewaySemiBold';
  }

  article.media.media-image.view-mode-infographic .field--name-field-image-caption p:nth-child(2) {
    font-size:1.0em;
  }
}

@media (max-width: 479px) {
  .media-infographic .field__items {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .paragraph--type--infographic .media-infographic {
    width:50%;
    margin:0 auto 0;
  }

  article.media.media-image.view-mode-infographic .field--name-field-image-caption p:nth-child(1) {
    font-size:0.9em;
    font-family:'RalewaySemiBold';
  }

  article.media.media-image.view-mode-infographic .field--name-field-image-caption p:nth-child(2) {
    font-size:0.8em;
  }
}

/** Where We Work **/
.view-country-timeline .view-header h2 {
  text-align:center;
  background:#ffffff;
  padding:.5em 0 .5em 0;
  margin:0;
}

.view-country-timeline .view-header {
  padding-bottom:0;
}

.tl-timeline {
  font-size:1em;
  font-family:'RalewayRegular';
}

.tl-slide .tl-slide-background {
  opacity:1;
}

.tl-timenav .tl-attribution {
  display:none;
}

.tl-timeline h2 {
  font-size:3em;
  line-height:1.2em;
}

.tl-timeline h3 {
  font-size:1.53em;
  line-height:1.3em;
}

.tl-timeline h4 {
  font-size:1.25em;
  line-height:1.4em;
}

.tl-text .tl-headline-date,
.tl-text h3.tl-headline-date {
  font-size:1.53em;
  font-family:'RalewayRegular';
}

.tl-timeline p {
  font-size:1.25em;
}

.tl-timeline .tl-text-content a {
  color:#00aa8f !important;
  text-decoration:none;
}

.tl-timeline .tl-text-content a:hover {
  color:#00aa8f !important;
  text-decoration:underline;
}

.tl-timeline p.tl-partners {
  font-size:0.8em;
}

.tl-timenav .tl-timenav-slider {
  left:100px;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content {
  border-bottom:3px solid #00aa8f;
}

.tl-text-content .two-col {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
}

.tl-text-content .two-col .col-1,
.tl-text-content .two-col .col-2 {
  width:50%;
}

.tl-slide-text-only .tl-slide-content-container .tl-slide-content .tl-text {
  max-width:100% !important;
  width:100% !important;
}

.tl-slide-text-only .tl-slide-content-container .tl-slide-content {
  width:1280px !important;
}

/** Responsive Where We Work **/
@media (min-width: 767px) {
  #block-countrytimelinemobile {
    display:none;
  }
}
@media (max-width: 767px) {
  .view-country-timeline {
    display:none;
  }
  .field--name-field-tl-mobile-descriptio {
    position: absolute;top: 10%;
    left: 10%;
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1.1;
  }
}

/** Country **/

.node--type-country .node--view-mode-full {
  background:#ffffff;
  padding:0 0 1.5em 0;
}

.node--type-country .node--view-mode-full .field--name-node-title {
  text-align:center;
}

.node--type-country .node--view-mode-full h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .3em;
}

.node--type-country .node--view-mode-full .field-name-field-start-date,
.node--type-country .node--view-mode-full .field-name-field-end-date {
  display: inline;
}



/** Misc **/
.path-sitemap .region-content {
  background:#ffffff;
  padding:2em 2em 1.5em 2em;
}

.path-sitemap .region-content h2 {
  display:none;
}

/** Resource Content Types **/
.node--type-article .node--view-mode-full,
.node--type-community-eye-health-journal .node--view-mode-full,
.node--type-video .node--view-mode-full,
.node--type-slideshow .node--view-mode-full,
.node--type-partner-resource .node--view-mode-full,
.node--type-infographic .node--view-mode-full,
.node--type-infographic .node--view-mode-_-column-feature {
  background:#ffffff;
  padding:2em 2em 1.5em 2em;
}

.node--type-article .node--view-mode-full .paragraph,
.node--type-video .node--view-mode-full .paragraph,
.node--type-slideshow .node--view-mode-full .paragraph {
  padding:0;
}

.node--type-article .field--name-field-media .media-video {
  float:none;
  padding:0;
}

.node--type-article .field--name-field-media .media-image {
  float:left;
  padding-right:2em;
  padding-bottom:1em;
}

.node--type-article .field--name-field-source {
  font-size:.6em;
}

.node--type-article .field--name-field-media .media-image {
  max-width:60%;
}

.node--type-article .field-name-field-teaser-media .media-image {
  width:100%;
  }

.teaser-title {
  font-size:1.1em;
  color: #0078b8;
  font-family:'RalewaySemiBold';
}

#block-iti-omega-page-title h1 {
  font-size:1.93em;
  text-align:center;
}

.node--type-partner .node--view-mode-full,
.paragraph--type--partner-full,
.paragraph--type--partner-list {
  background:#ffffff;
  padding: 2em 2em 1.5em 2em;
}

.field--name-field-partner-sub-title {
  font-size:1.53em;
  line-height:1.2em;
  color: #0078b8;
  font-family:'RalewaySemiBold';
  padding-top:1em;
}

/** Staff **/
.node--type-bio.node--view-mode-full {
  padding: 2em 2em 1.5em 2em;
  background-color: #ffffff;
}

.node--type-bio.node--view-mode-full .field-name-field-photo {
  max-width:50%;
  float:left;
}

.node--type-bio.node--view-mode-full .group-left,
.node--type-bio.node--view-mode-full .group-right {
  float:none;
}

.node--type-bio.node--view-mode-full .view-mode-bio,
.node--type-committee-members.node--view-mode-full .view-mode-bio  {
  padding:0 1.5em 1.5em 0;
}

.node--type-bio.node--view-mode-full .bio-name {
  font-size:2.441em;
  padding-bottom:.2em;
  color: #0078b8;
  font-family: 'RalewaySemiBold';
  line-height:1.2em;
}

.node--type-bio.node--view-mode-full .field--name-field-bio-title {
  font-size:1em;
  color: #000000;
  font-family: 'RalewaySemiBold';
  margin-bottom:1em;
}

@media (max-width: 767px) and (min-width: 480px) {
  .node--type-bio.node--view-mode-full {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .node--type-bio.node--view-mode-full .group-left,
  .node--type-bio.node--view-mode-full .group-right {
    margin:0 auto 0;width:95%;
  }
}

@media (max-width: 479px) {
  .node--type-bio.node--view-mode-full {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .node--type-bio.node--view-mode-full .group-left,
  .node--type-bio.node--view-mode-full .group-right {
    margin:0 auto 0;width:95%;
  }
}

.view-staff-blog-list .views-field-title,
.view-staff-external-publications .views-field-title {
  margin-bottom:.5em;
}

/** Trachoma Expert Committee **/
.view-trachoma-expert-committee .viewsreference-title {
  font-size:1em;
  color:initial;
  font-family:'RalewayRegular';
}

.view-trachoma-expert-committee .viewsreference-title {
  margin-top:0;
  text-align:left;
}

.node--type-committee-members .node--view-mode-full {
  padding: 2em 2em 1.5em 2em;
  background-color: #ffffff;
}

.node--type-committee-members .node--view-mode-full .field-name-field-photo {
  max-width:50%;
  float:left;
}

.node--type-committee-members .node--view-mode-full .group-left,
.node--type-committee-members .node--view-mode-full .group-right {
  float:none;
}

.node--type-committee-members .node--view-mode-full .field-name-node-title {
  font-size:2.441em;
  padding-bottom:.2em;
  color: #0078b8;
  font-family: 'RalewaySemiBold';
  line-height:1.2em;
}

#block-views-block-trachoma-expert-committee-block-1 .field-name-node-title,
.view-id-staff .field-name-node-title {
  font-size:1.0em;
  padding-bottom:.2em;
  color: #0078b8;
  font-family: 'RalewaySemiBold';
  line-height:1.2em;
  max-width:200px;
}

.node--type-committee-members .node--view-mode-full .field--name-field-bio-title {
  font-size:1em;
  color: #000000;
  font-family: 'RalewaySemiBold';
  text-transform:uppercase;
  margin-bottom:1em;
}

#block-views-block-trachoma-expert-committee-block-1 .field--name-field-bio-title,
.view-id-staff .field--name-field-bio-title,
#block-views-block-staff-ethiopia-block-1 .field--name-field-bio-title,
#block-views-block-staff-iti-africa-block-1 .field--name-field-bio-title {
  font-size:1em;
  color: #000000;
  max-width:200px;
}

@media (max-width: 767px) and (min-width: 480px) {
  .node--type-committee-members .node--view-mode-full {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .node--type-committee-members .node--view-mode-full .group-left,
  .node--type-committee-members .node--view-mode-full .group-right {
    margin:0 auto 0;width:95%;
  }
}

@media (max-width: 479px) {
  .node--type-committee-members .node--view-mode-full {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .node--type-committee-members .node--view-mode-full .group-left,
  .node--type-committee-members .node--view-mode-full .group-right {
    margin:0 auto 0;width:95%;
  }
}

.views-view-grid {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
}

.views-view-grid .views-row {
  float: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom:2em;
  -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:flex-start;
}

@media (max-width: 767px) and (min-width: 480px) {
  .views-view-grid .views-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .views-view-grid .views-col {
    float:none;
    width:100% !important;
    margin-bottom:2em;
  }
}
@media (max-width: 479px) {
  .views-view-grid .views-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .views-view-grid .views-col {
    float:none;
    width:100% !important;
    margin-bottom:2em;
  }
}

/**.views-view-grid .views-col {width:20% !important;padding:0 .5em 0 .5em;}**/

.views-view-grid .field--name-node-post-date,
.views-view-grid .field--name-bundle-fieldnode {
  font-size:.8em;
}

.region-content .node--type-job {
  padding: 2em 2em 1.5em 2em;
  background-color: #ffffff;
  margin-bottom:1em;
}

#block-backtostaff,
#block-backtotrachomaexpertcommittee,
#block-backtoresources {
  background:#ffffff;
  padding-bottom:1em;
  padding-left:2em;
}

#block-backtostaff p,
#block-backtotrachomaexpertcommittee p,
#block-backtoresources p {
  margin:0;
}

/** Contact forms **/
.contact-message-enews-signup-form,
.contact-message-contact-us-form {
  background:#ffffff;
  margin-bottom:1em;
  padding: 2em 2em 1.5em 2em;
}

#contact-message-enews-signup-form input#edit-submit,
#contact-message-contact-us-form input#edit-submit {
  box-shadow:0 0 0 0;
}

.form-type-textfield textarea,
.field--type-entity-reference textarea,
.form-type-textarea textarea,
.form-type-textfield input,
.field--type-entity-reference input,
.form-type-textarea input,
.form-type-email input {
  box-shadow:0 0 0 0;
  border:1px solid #cccccc;
}

.contact-message-enews-signup-form h2,
.contact-message-contact-us-form h2 {
  text-align:center;
  font-size:1.93em;
  padding-bottom:.5em;
  color: #0078b8;
  font-family: 'RalewaySemiBold';
  margin:0;
}

#contact-message-enews-signup-form {
  text-align:center;
}

input#edit-submit {
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  background: #00aa8f;
  font-family: 'RalewaySemiBold';
  width: 33%;
  text-align: center;
  margin: 1em auto 0;
  border:0px solid;
}

.ctct-custom-form .ctct-button {
  background: #00aa8f !important;
  width:25% !important;
  margin:0 auto 0 !important;
}

.ctct-custom-form input[type="text"] {
  width:25% !important;
  margin:0 auto 0 !important;
}

@media (max-width: 1023px) {
  .ctct-custom-form input[type="text"] {
    width:75% !important;
    margin:0 auto 0 !important;
  }
}

.ctct-custom-form .ctct-form-required {
  width:25%;
  margin:0 auto 0;
}

.ctct-custom-form {
  text-align:center;
}

.ctct-custom-form {
  margin-bottom:.5em !important;
}

#block-enewssignup {
  background: #ffffff !important;
  margin-bottom:1em;
}

#block-enewssignup h2 {
  text-align:center !important;
    padding-top:.5em;
    margin-top:0;
  }

#block-enewssignup p {
  text-align:center;
}

.contact-message-contact-us-form .form-actions {
  text-align:center;
}

.form-type-email label {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.25em;
}

.form-type-email input {
  width: 100%;
  max-width: 100%;
  padding: 0.35em 0.5em;
  font-size: 1.2em;
  font-weight: normal;
}

.ctct-form-footer {
  width: 50%;
  margin:0 auto 0 !important;
}

.page-node-150 .field--name-field-paragraphs {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}

.page-node-150 .field--name-field-paragraphs .field__item:nth-of-type(1) {
  width:100%;
}

.page-node-150 .field--name-field-paragraphs .field__item:nth-of-type(2),
.page-node-150 .field--name-field-paragraphs .field__item:nth-of-type(3) {
  padding: 1em;
  background: white;
  margin-bottom: 1em;
  -webkit-box-flex:1;
      -ms-flex:1 0 50%;
          flex:1 0 50%;
}

.page-node-150 .field--name-field-paragraphs .field__item iframe {
  width:100%;
}

@media (max-width: 767px) {
  .page-node-150 .field--name-field-paragraphs {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }
}

.node--type-slideshow .paragraph--type--gallery .field--name-name {
  display:none;
  }

.node--type-slideshow .paragraph--type--gallery .slick {
  margin-top:2em;
}

.node--type-infographic .node--view-mode-full {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}

.node--type-infographic .node--view-mode-full .group-header {
  width:100%;
}

.node--type-infographic .node--view-mode-full .group-right {
  padding-left:1em;
}

@media (max-width: 767px) and (min-width: 480px) {
  .node--type-infographic .node--view-mode-full {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .node--type-infographic .node--view-mode-full .group-left,
  .node--type-infographic .node--view-mode-full .group-right {
    margin:0 auto 0;
    width:95%;
  }
}

@media (max-width: 479px) {
  .node--type-infographic .node--view-mode-full {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .node--type-infographic .node--view-mode-full .group-left,
  .node--type-infographic .node--view-mode-full .group-right {
    margin:0 auto 0;width:95%;
  }
}

/** News **/
.node--type-news .region-content {
  background:#ffffff;
  padding:2em 2em 2em 1em;
}

sup {
  top: -0.5em;
  font-size: 70%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.node--type-partner-resource .group-right {
  padding:0 1em 0;
}

.node--type-partner-resource .node--view-mode-full {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}

.node--type-partner-resource .node--view-mode-full .group-header {
  width:100%;
}

@media (max-width: 767px) and (min-width: 480px) {
  .node--type-partner-resource .node--view-mode-full {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .node--type-partner-resource .node--view-mode-full .group-left,
  .node--type-partner-resource .node--view-mode-full .group-right {
    width:100%;
  }
}

@media (max-width: 479px) {
  .node--type-partner-resource .node--view-mode-full {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  .node--type-partner-resource .node--view-mode-full .group-left,
  .node--type-partner-resource .node--view-mode-full .group-right {
    width:100%;
  }
}

/** Social Timeline **/
#block-socialtimeline {
  background:#ffffff;
  padding:0.5em 1em 1em;
}

#block-socialtimeline h2 {
  text-align:center;
}

div.light div.dpSocialTimeline .dpSocialTimeline_item {
  background:rgb(211,211,211);
}

div.light div.dpSocialTimeline .dpSocialTimeline_item a {
  color:#00aa8f;
}

/** Juicer **/

.juicer-feed a {
 color:#00aa8f !important;
}

.juicer-feed a:hover {
  color: #0078b8 !important;
}

.juicer-feed.polaroid li.feed-item.words .j-message {
  font-size:18px !important;
  font-family:inherit !important;
}

.juicer-feed.polaroid .j-message,
.juicer-feed.polaroid .j-poster-meta {
  font-size:18px !important;
}

.juicer-feed.white li.feed-item,
.juicer-feed.user li.feed-item,
.juicer-feed.juicer-widget li.feed-item,
.juicer-feed.colors li.feed-item,
.juicer-feed.gray li.feed-item,
.juicer-feed.modern li.feed-item,
.juicer-feed.polaroid li.feed-item {
  border-width:2px !important;
}

.juicer-feed.polaroid .j-post-container {
  top: 0 !important;
  margin-bottom:0 !important
}

.juicer-feed .j-paginate {
  background-color: #ffffff !important;
  border:0 !important;
}

.juicer-feed .j-paginate:hover {
  background-color: #ffffff !important;
}

#block-followusonsocialmedia h2 {
  background: #ffffff;
  padding: .5em;
  text-align: center;
}

.field--name-field-country-partners,
.field--name-field-country-description,
.node--type-country .node--view-mode-full .group-footer {
  padding:1em;
}

.node--type-country .node--view-mode-full .paragraph--type-section-header-with-text {
  margin-bottom:0;
  padding-bottom:0;
}

.node--type-country .node--view-mode-full .paragraph--type--link {
  text-align:center;
  font-weight:700;
}

.node--type-country .node--view-mode-full .group-left,
.node--type-country .node--view-mode-full .group-middle,
.node--type-country .node--view-mode-full .group-right {
  padding:0 .5em;
}

.node--type-country .node--view-mode-full .tablefield {
  width:70%;
}

.node--type-country .node--view-mode-full .tablefield tr {
  border-bottom: 1px solid #cccccc;
}

.node--type-country .node--view-mode-full .tablefield .col_0 {
  padding:0.1em 1em;
  font-weight:700;
}

.node--type-country .node--view-mode-full .tablefield .col_1 {
  text-align:right;
}

.node--type-country .node--view-mode-full .paragraph--type-section-header-with-text h2,
.node--type-country .node--view-mode-full h3 {
  font-size:1.25em;
}

.node--type-country .node--view-mode-full .paragraph--type-section-header-with-text p {
  margin-top:0;
}

#superfish-countries {
  color: #ffffff;
  width: 100%;
}

#superfish-countries .sf-depth-1 {
  width: 100%;
  text-align: center;
  padding: 1em;
}

#superfish-countries li {
  font-size:14px;
}

#superfish-countries li:hover,
#superfish-countries a:hover,
#superfish-countries .sfHover {
  color:#00aa8f;
}

/** Animated Icons **/
.block-content--type-animated-3-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .block-content--type-animated-3-column {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }
}

.block-content--type-animated-3-column .group-header {
  width: 100%;
  text-align: center; 
}

.block-content--type-animated-3-column .group-left,
.block-content--type-animated-3-column .group-middle,
.block-content--type-animated-3-column .group-right {
  flex: 1;
  text-align: center;
  padding: 0 0.5em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: unset;
  float: unset;
}

@media (max-width: 767px) {
  .block-content--type-animated-3-column .group-left,
  .block-content--type-animated-3-column .group-middle,
  .block-content--type-animated-3-column .group-right {
    margin-bottom: 4em;
  }
}

@media (max-width: 479px) {
  .block-content--type-animated-3-column .field--name-field-text-column-1,
  .block-content--type-animated-3-column .field--name-field-text-column-2,
  .block-content--type-animated-3-column .field--name-field-text-column-3 {
    font-size: 1.0em;
  }
}

.block-content--type-animated-3-column .field--name-field-image-column-1,
.block-content--type-animated-3-column .field--name-field-image-column-2,
.block-content--type-animated-3-column .field--name-field-image-column-3 {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .block-content--type-animated-3-column .field--name-field-image-column-1,
.block-content--type-animated-3-column .field--name-field-image-column-2,
.block-content--type-animated-3-column .field--name-field-image-column-3 {
  width: 30%;
  margin: 0 auto;
}

}


.block-content--type-animated-3-column .field--name-field-number-column-1,
.block-content--type-animated-3-column .field--name-field-number-column-2,
.block-content--type-animated-3-column .field--name-field-number-column-3 {
    color: rgb(90,103,113);
    font-size: 2.0em;
    font-family: 'RalewaySemiBold';
    padding-top: 0.4em;
}

.block-content--type-animated-3-column .field--name-field-postscript-column-1 p:nth-child(2) {
  font-size: 0.8em;
}
