/* Fonts */
#site-branding {
  position: relative;
  margin-top: 20px;
}
#site-branding .site-name-slogan {
  padding-top: 0;
}
#site-branding #logo {
  float: left;
  max-width: 50%;
  height: auto;
  margin-right: 25px;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
#site-branding #logo a {
  display: block;
}
#site-branding #logo img {
  display: block;
}
#site-branding .site-name {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -0.075em;
  font-family: "Helvetica Neue", Arial, Helvetica;
  color: #047aab;
}
#site-branding .site-name a {
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  text-decoration: none;
  color: #047aab;
}
#site-branding .site-name a:hover {
  color: rgba(4, 122, 171, 0.85);
}
#site-branding .site-slogan {
  color: #777;
  font-variant: small-caps;
}
