/*
 * Fonts
 */
body {
  *zoom: 1;
  min-width: 100%;
  width: 100%;
}

body::before, body::after {
  content: '';
  display: table;
}

body::after {
  clear: both;
}


@media all and (min-width: 0px) {
  .header-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.header-layout::before, .header-layout::after {
  content: '';
  display: table;
}

.header-layout::after {
  clear: both;
}

.header-layout .region--header {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.preface-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.preface-layout::before, .preface-layout::after {
  content: '';
  display: table;
}

.preface-layout::after {
  clear: both;
}

.preface-layout .region--preface-first {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-second {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-third {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-fourth {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.core-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.core-layout::before, .core-layout::after {
  content: '';
  display: table;
}

.core-layout::after {
  clear: both;
}

.core-layout .region--highlighted {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.main-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.main-layout::before, .main-layout::after {
  content: '';
  display: table;
}

.main-layout::after {
  clear: both;
}

.main-layout .region--content {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout .region--sidebar-first {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout .region--sidebar-second {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.postscript-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.postscript-layout::before, .postscript-layout::after {
  content: '';
  display: table;
}

.postscript-layout::after {
  clear: both;
}

.postscript-layout .region--postscript-first {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-second {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-third {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-fourth {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.footer-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.footer-layout::before, .footer-layout::after {
  content: '';
  display: table;
}

.footer-layout::after {
  clear: both;
}

.footer-layout .region--footer {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}
}


@media all and (max-width: 479px) {
  .header-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.header-layout::before, .header-layout::after {
  content: '';
  display: table;
}

.header-layout::after {
  clear: both;
}

.header-layout .region--header {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.preface-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.preface-layout::before, .preface-layout::after {
  content: '';
  display: table;
}

.preface-layout::after {
  clear: both;
}

.preface-layout .region--preface-first {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-second {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-third {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-fourth {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.core-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.core-layout::before, .core-layout::after {
  content: '';
  display: table;
}

.core-layout::after {
  clear: both;
}

.core-layout .region--highlighted {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.main-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.main-layout::before, .main-layout::after {
  content: '';
  display: table;
}

.main-layout::after {
  clear: both;
}

.main-layout .region--content {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout .region--sidebar-first {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout .region--sidebar-second {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.postscript-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.postscript-layout::before, .postscript-layout::after {
  content: '';
  display: table;
}

.postscript-layout::after {
  clear: both;
}

.postscript-layout .region--postscript-first {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-second {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-third {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-fourth {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.footer-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.footer-layout::before, .footer-layout::after {
  content: '';
  display: table;
}

.footer-layout::after {
  clear: both;
}

.footer-layout .region--footer {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}
}


@media all and (min-width: 480px) and (max-width: 767px) {
  .header-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.header-layout::before, .header-layout::after {
  content: '';
  display: table;
}

.header-layout::after {
  clear: both;
}

.header-layout .region--header {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.preface-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.preface-layout::before, .preface-layout::after {
  content: '';
  display: table;
}

.preface-layout::after {
  clear: both;
}

.preface-layout .region--preface-first {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-second {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-third {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-fourth {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.core-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.core-layout::before, .core-layout::after {
  content: '';
  display: table;
}

.core-layout::after {
  clear: both;
}

.core-layout .region--highlighted {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.main-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.main-layout::before, .main-layout::after {
  content: '';
  display: table;
}

.main-layout::after {
  clear: both;
}

.main-layout .region--content {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout .region--sidebar-first {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout .region--sidebar-second {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.postscript-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.postscript-layout::before, .postscript-layout::after {
  content: '';
  display: table;
}

.postscript-layout::after {
  clear: both;
}

.postscript-layout .region--postscript-first {
  display: block;
  position: relative;
  clear: none;
  width: 47.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 47.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-second {
  display: block;
  position: relative;
  clear: none;
  width: 47.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 47.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-third {
  display: block;
  position: relative;
  clear: none;
  width: 47.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 47.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-fourth {
  display: block;
  position: relative;
  clear: none;
  width: 47.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 47.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.footer-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.footer-layout::before, .footer-layout::after {
  content: '';
  display: table;
}

.footer-layout::after {
  clear: both;
}

.footer-layout .region--footer {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}
}


@media all and (min-width: 768px) and (max-width: 1023px) {
  .header-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.header-layout::before, .header-layout::after {
  content: '';
  display: table;
}

.header-layout::after {
  clear: both;
}

.header-layout .region--header {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.preface-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.preface-layout::before, .preface-layout::after {
  content: '';
  display: table;
}

.preface-layout::after {
  clear: both;
}

.preface-layout .region--preface-first {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-second {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-third {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-fourth {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.core-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.core-layout::before, .core-layout::after {
  content: '';
  display: table;
}

.core-layout::after {
  clear: both;
}

.core-layout .region--highlighted {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.main-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.main-layout::before, .main-layout::after {
  content: '';
  display: table;
}

.main-layout::after {
  clear: both;
}

.main-layout .region--content {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout .region--sidebar-first {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout .region--sidebar-second {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.postscript-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.postscript-layout::before, .postscript-layout::after {
  content: '';
  display: table;
}

.postscript-layout::after {
  clear: both;
}

.postscript-layout .region--postscript-first {
  display: block;
  position: relative;
  clear: none;
  width: 22.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 22.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-second {
  display: block;
  position: relative;
  clear: none;
  width: 22.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 22.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-third {
  display: block;
  position: relative;
  clear: none;
  width: 22.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 22.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-fourth {
  display: block;
  position: relative;
  clear: none;
  width: 22.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 22.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.footer-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 100%;
}

.footer-layout::before, .footer-layout::after {
  content: '';
  display: table;
}

.footer-layout::after {
  clear: both;
}

.footer-layout .region--footer {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}
}


@media all and (min-width: 1024px) and (max-width: 1219px) {
  .header-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 1100px;
}

.header-layout::before, .header-layout::after {
  content: '';
  display: table;
}

.header-layout::after {
  clear: both;
}

.header-layout .region--header {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.preface-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 1100px;
}

.preface-layout::before, .preface-layout::after {
  content: '';
  display: table;
}

.preface-layout::after {
  clear: both;
}

.preface-layout .region--preface-first {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-second {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-third {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-fourth {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.core-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 1100px;
}

.core-layout::before, .core-layout::after {
  content: '';
  display: table;
}

.core-layout::after {
  clear: both;
}

.core-layout .region--highlighted {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.main-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 1100px;
}

.main-layout::before, .main-layout::after {
  content: '';
  display: table;
}

.main-layout::after {
  clear: both;
}

.main-layout .region--content {
  display: block;
  position: relative;
  clear: none;
  width: 72.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 72.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout .region--sidebar-first {
  display: block;
  position: relative;
  clear: none;
  width: 22.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 22.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout .region--sidebar-second {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout.with--content.without--sidebar-first .region--content {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  left: auto;
  right: auto;
  float: none;
  clear: both;
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout.with--content.without--sidebar-second .region--content {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  left: auto;
  right: auto;
  float: none;
  clear: both;
  display: block;
  position: relative;
  clear: none;
  width: 72.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 72.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout.with--content.without--sidebar-first.without--sidebar-second .region--content {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  left: auto;
  right: auto;
  float: none;
  clear: both;
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.postscript-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 1100px;
}

.postscript-layout::before, .postscript-layout::after {
  content: '';
  display: table;
}

.postscript-layout::after {
  clear: both;
}

.postscript-layout .region--postscript-first {
  display: block;
  position: relative;
  clear: none;
  width: 22.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 22.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-second {
  display: block;
  position: relative;
  clear: none;
  width: 22.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 22.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-third {
  display: block;
  position: relative;
  clear: none;
  width: 22.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 22.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-fourth {
  display: block;
  position: relative;
  clear: none;
  width: 22.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 22.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.footer-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 1100px;
}

.footer-layout::before, .footer-layout::after {
  content: '';
  display: table;
}

.footer-layout::after {
  clear: both;
}

.footer-layout .region--footer {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}
}


@media all and (min-width: 1220px) {
  .header-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 1200px;
}

.header-layout::before, .header-layout::after {
  content: '';
  display: table;
}

.header-layout::after {
  clear: both;
}

.header-layout .region--header {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.preface-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 1200px;
}

.preface-layout::before, .preface-layout::after {
  content: '';
  display: table;
}

.preface-layout::after {
  clear: both;
}

.preface-layout .region--preface-first {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-second {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-third {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.preface-layout .region--preface-fourth {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.core-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 1200px;
}

.core-layout::before, .core-layout::after {
  content: '';
  display: table;
}

.core-layout::after {
  clear: both;
}

.core-layout .region--highlighted {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.main-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 1200px;
}

.main-layout::before, .main-layout::after {
  content: '';
  display: table;
}

.main-layout::after {
  clear: both;
}

.main-layout .region--content {
  display: block;
  position: relative;
  clear: none;
  width: 64.583%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 64.479%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout .region--sidebar-first {
  display: block;
  position: relative;
  clear: none;
  width: 31.25%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 31.146%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout .region--sidebar-second {
  display: block;
  position: relative;
  clear: none;
  width: -2.083%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: -2.188%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout.with--content.without--sidebar-first .region--content {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  left: auto;
  right: auto;
  float: none;
  clear: both;
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout.with--content.without--sidebar-second .region--content {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  left: auto;
  right: auto;
  float: none;
  clear: both;
  display: block;
  position: relative;
  clear: none;
  width: 64.583%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 64.479%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.main-layout.with--content.without--sidebar-first.without--sidebar-second .region--content {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  left: auto;
  right: auto;
  float: none;
  clear: both;
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.postscript-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 1200px;
}

.postscript-layout::before, .postscript-layout::after {
  content: '';
  display: table;
}

.postscript-layout::after {
  clear: both;
}

.postscript-layout .region--postscript-first {
  display: block;
  position: relative;
  clear: none;
  width: 22.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 22.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-second {
  display: block;
  position: relative;
  clear: none;
  width: 22.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 22.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-third {
  display: block;
  position: relative;
  clear: none;
  width: 22.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 22.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}

.postscript-layout .region--postscript-fourth {
  display: block;
  position: relative;
  clear: none;
  width: 22.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 22.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}


.footer-layout {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.896%;
  *zoom: 1;
  max-width: 1200px;
}

.footer-layout::before, .footer-layout::after {
  content: '';
  display: table;
}

.footer-layout::after {
  clear: both;
}

.footer-layout .region--footer {
  display: block;
  position: relative;
  clear: none;
  width: 97.917%;
  margin-right: 1.042%;
  margin-left: 1.042%;
  *width: 97.813%;
  *margin-right: 0.938%;
  *margin-left: 0.938%;
  float: left;
}
}


