// Default Variable Import
@import "omega-style-vars", "omega-default-style-vars";

/* SAMPLE SCSS FILE CONTENTS */

#core-outer-wrapper {background: rgb(61,125,202);}
#postscript-out-wrapper {background-color: #565656;color:#ffffff;padding-top:2em;}
